/* Alucard Theme
 *
 * Complementary light theme for Dracula Theme
 * Modified to strictly adapt to the official Dracula specification: https://draculatheme.com/spec
 */

.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  background: #fffbeb;
}

/* Foreground / Default Text */
.hljs,
.hljs-subst {
  color: #1f1f1f;
}

/* Comments (Italic) */
.hljs-comment {
  color: #6c664b;
  font-style: italic;
}

/* Quotations or blockquotes (no italic comment style) */
.hljs-quote {
  color: #6c664b;
}

/* Red: Errors, warnings, deletions */
.hljs-deletion,
.hljs-doctag {
  color: #cb3a2a;
}

/* Orange: Numbers, constants, booleans */
.hljs-number,
.hljs-literal {
  color: #a34d14;
}

/* Yellow: Strings, escape sequences, attribute values */
.hljs-string,
.hljs-meta,
.hljs-symbol,
.hljs-bullet,
.hljs-addition,
.hljs-variable,
.hljs-template-tag,
.hljs-template-variable {
  color: #846e15;
}

/* Green: Functions, methods */
.hljs-title,
.hljs-title.function_ {
  color: #14710a;
}

/* Cyan: Classes, types, tag names, attribute names, built-ins */
.hljs-built_in,
.hljs-selector-tag,
.hljs-section,
.hljs-link,
.hljs-type,
.hljs-title.class_,
.hljs-name,
.hljs-attr {
  color: #036a96;
}

/* Pink: Keywords, storage modifiers */
.hljs-keyword {
  color: #a3144d;
}

/* Purple: Instance reserved words (this, self, super) */
.hljs-variable.language_ {
  color: #644ac9;
  font-style: italic;
}

/* Style Modifiers */
.hljs-keyword,
.hljs-selector-tag,
.hljs-title,
.hljs-section,
.hljs-type,
.hljs-name,
.hljs-strong {
  font-weight: bold;
}

.hljs-emphasis {
  font-style: italic;
}
