/* Dracula Theme
 *
 * Modified to strictly adapt to the official Dracula specification: https://draculatheme.com/spec
 */

.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  background: #282a36;
}

/* Foreground / Default Text */
.hljs,
.hljs-subst {
  color: #f8f8f2;
}

/* Comments (Italic) */
.hljs-comment {
  color: #6272a4;
  font-style: italic;
}

/* Quotations or blockquotes (no italic comment style) */
.hljs-quote {
  color: #6272a4;
}

/* Red: Errors, warnings, deletions */
.hljs-deletion,
.hljs-doctag {
  color: #ff5555;
}

/* Orange: Numbers, constants, booleans */
.hljs-number,
.hljs-literal {
  color: #ffb86c;
}

/* Yellow: Strings, escape sequences, attribute values */
.hljs-string,
.hljs-meta,
.hljs-symbol,
.hljs-bullet,
.hljs-addition,
.hljs-variable,
.hljs-template-tag,
.hljs-template-variable {
  color: #f1fa8c;
}

/* Green: Functions, methods */
.hljs-title,
.hljs-title.function_ {
  color: #50fa7b;
}

/* Cyan: Classes, types, tag names, attribute names, built-ins */
.hljs-built_in,
.hljs-selector-tag,
.hljs-section,
.hljs-link,
.hljs-type,
.hljs-title.class_,
.hljs-name,
.hljs-attr {
  color: #8be9fd;
}

/* Pink: Keywords, storage modifiers */
.hljs-keyword {
  color: #ff79c6;
}

/* Purple: Instance reserved words (this, self, super) */
.hljs-variable.language_ {
  color: #bd93f9;
  font-style: italic;
}

/* Style Modifiers */
.hljs-keyword,
.hljs-selector-tag,
.hljs-title,
.hljs-section,
.hljs-type,
.hljs-name,
.hljs-strong {
  font-weight: bold;
}

.hljs-emphasis {
  font-style: italic;
}
